{% extends 'base/base.html' %}

{% block title %}
Lista de Okrs
{% endblock title %}

{% block content %}
<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col">Lista de Okrs</th>
        <th scope="col">Data de criação</th>
        <th scope="col">Data de atualização</th>

    </tr>
    {% for okr in okrs %}
    <tr>
        <td scope="row"><a href="/okr/{{okr.id}}/">Okr: {{ okr.integrante }}</a></td>
        <td scope="row">{{ okr.criado }}</td>
        <td scope="row">{{ okr.atualizado }}</td>
    </tr>
    {% endfor%}
    </thead>
</table>
<a href="{% url 'okr_register' %}">
    <button type="submit" class="btn btn-primary" name="Registrar">Página de registro</button>
</a>
{% endblock content %}
